.elementor-element-c80aafb,
.elementor-element-f6c6b9a {
  padding: 0;
}

.page-id-8 {
  #masthead {
    background: #000;
    position: relative;
  }
}

.page-id-8 {
  main {
    margin-top: 170px;
    margin-bottom: 100px;
  }
}

.page-id-7 {
  #masthead {
    background: #000;
    position: relative;
  }
}

.page-id-7 {
  main {
    margin-top: 170px;
    margin-bottom: 100px;
  }
}

.page-id-8 {
  .entry-title {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .woocommerce-MyAccount-navigation {
    width: 100%;
    margin-bottom: 50px;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        padding: 10px 20px;

        a {
          text-decoration: none;
          color: #f1192e !important;
        }
      }

      .is-active {
        background-color: #f1192e;

        a {
          color: #fff !important;
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    width: 100%;
  }
}

.woocommerce-order-custom-fields {
  .field-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    p {
      width: calc(50% - 15px);
      box-sizing: border-box;
      margin: 0 0 20px;
      strong {
        margin-bottom: 10px;
      }
      input {
        border: 1px solid #666;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        width: 400px !important;
        margin-top: 10px;
      }
    }
  }
}
.woocommerce-my-account-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  .account-sidebar {
    width: 15%;
    background-color: hsla(0, 0%, 50.2%, 0.0705882353);
    padding: 10px;
    border-radius: 5px;
    .woocommerce-MyAccount-navigation {
      margin-bottom: 0;
      p {
        &.is-active {
          background-color: #f1192e;
          a {
            color: white !important;
          }
        }
        &:last-child {
          border-bottom: none;
        }

        a {
          color: black;
          text-decoration: none;
          font-weight: bold;
          width: 100% !important;
          display: block;
          padding: 10px 15px;
        }
        border-bottom: 1px solid hsla(0, 0%, 50%, 0.473);
        margin: 0;
      }
    }
  }
  .account-content {
    width: 85%;
    .woocommerce-orders-table {
      thead {
        tr {
          th {
            padding: 15px;
            border: none;
          }
        }
      }
      tbody {
        tr {
          margin-bottom: 15px;
          @include tablet {
            margin-bottom: 0px;
          }
          td {
            padding: 15px;
            border: none;
            a {
              text-decoration: none;
              color: black;
              font-weight: bold;
            }
            &.order-actions {
              a {
                margin: 0 5px;
                font-weight: normal;
                &.woocommerce-button.button.view {
                  background-color: rgb(92, 88, 88);
                  color: white;
                  padding: 8px 10px;
                  border-radius: 5px;
                }
                &.woocommerce-button.button.cancel {
                  background-color: #f5263b;
                  color: white;
                  padding: 8px 10px;
                  border-radius: 5px;
                }
              }
            }
            &.order-status {
              span {
                padding: 6px 10px;
                border-radius: 5px;
              }
              &.completed {
                span {
                  background-color: #c8d7e1;
                  color: #003d66;
                }
              }
              &.on-hold {
                span {
                  background-color: #f8dda7;
                  color: #573b00;
                }
              }
              &.pending {
                span {
                  background-color: #e5e5e5;
                  color: #454545;
                }
              }
              &.confirmed {
                span {
                  background-color: #159640;
                  color: #fff;
                }
              }
              &.cancelled {
                span {
                  background-color: #f34747d8;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
.woocommerce-button.button.next,
.woocommerce-button.button.prev {
  background-color: rgb(92, 88, 88);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.button-black {
  background-color: rgb(92, 88, 88) !important;
  color: white !important;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: normal;
  border: none !important;
}
.order-again {
  display: none;
}

mark {
  background-color: transparent !important;
}
.woocommerce-table__product-name {
  text-decoration: none !important;
  color: black;
  font-weight: bold !important;
  a {
    text-decoration: none !important;
    color: black;
    font-weight: bold !important;
  }
}
.woocommerce-table.shop_table.order_details {
  thead {
    tr {
      th {
        border: none !important;
        padding: 15px;
      }
    }
  }
  tbody {
    tr {
      td {
        border: none !important;
        padding: 15px;
      }
    }
  }
}
.mb-2 {
  margin-bottom: 20px !important;
}
@media (max-width: 768px) {
  .woocommerce-order-custom-fields {
    .field-columns p {
      width: 100%;
      input {
        border: 1px solid #666;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        width: 250px !important;
        margin-top: 10px;
      }
    }
  }
  .woocommerce-my-account-wrapper {
    display: block;
    .account-sidebar {
      width: 100%;
      margin-bottom: 15px;
    }
    .account-content {
      width: 100%;
      .shop_table_responsive {
        .order-actions {
          text-align: right !important;
        }
      }
    }
  }
}

.account-content {
  p {
    input,
    label,
    em {
      font-size: 13px;

      @include tablet {
        font-size: 16px;
      }
    }
  }
}

.woocommerce-account main {
  margin-top: 100px;
  margin-bottom: 50px;
  @include tablet {
    margin-top: 170px;
    margin-bottom: 100px;
  }
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: 40px !important;
  border-top:0 !important ;
}

.tp_loading{
  position: relative;
  &:before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
  }
  &:after{
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--e-global-color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    content: "";
    position: absolute;
    top: calc(50% - 48px);
    right: calc(50% - 48px);
    z-index: 11;
  }
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

#order_review .shop_table{
 display: none; 
}
