@import 'vanilla-calendar-pro/styles/layout.css'; // Only the skeleton
@import 'vanilla-calendar-pro/styles/themes/light.css'; // Light theme
@import 'vanilla-calendar-pro/styles/themes/dark.css'; // Dark theme
@import 'overwrite_vanilla';
@import 'product-single';
@import 'hour_booking_form';
.elementor-element-c80aafb,
.elementor-element-f6c6b9a {
    padding: 0;
}

.page-id-8 {
    #masthead {
        background: #000;
        position: relative;
    }

}

.page-id-8 {
    main {
        margin-top: 170px;
        margin-bottom: 100px;
    }
}

.page-id-7 {
    #masthead {
        background: #000;
        position: relative;
    }

}

.page-id-7 {
    main {
        margin-top: 170px;
        margin-bottom: 100px;
    }
}


.row-form-custom {
    display: flex;
    margin-bottom: 10px;

    label {
        margin-bottom: 10px;
    }

    input {
        padding: 5px !important;
        height: 38px;
    }

    select {
        padding: 5px !important;
        height: 38px;
        background-color: transparent;
    }
}

.col-1 {
    .col-form-custom {
        width: 100%;
        input{
            margin-right: 10px;
        }
        
    }
}

.col-2 {
    justify-content: space-between;

    .col-form-custom {
        width: 49%;
    }
}

.col-3 {
    justify-content: space-between;

    .col-form-custom {
        width: 32%;
    }
}

.products-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .product-item-col {
        img {
            width: 100%;
        }
    }

    .product-item-col:nth-child(1) {
        width: 35%;
    }

    .product-item-col:nth-child(3) {
        width: 25%;
    }

    .product-item-col:nth-child(2) {
        border-right: 1px solid hsl(0deg 0% 50.2% / 50.2%);
        padding: 0 15px;
        width: 40%;
    }

    .product-title {
        font-size: 23px;
        font-weight: bolder;
    }

    .product-full-description {
        tr {
            td {
                border-width: 0 0 2px 0;
            }
        }
    }

    .center-product-col {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background-color: #000;
            border-color: #fff;
            border-radius: 5px;
            padding: 10px 30px;

            a {
                color: #fff;

                display: block;
                text-transform: uppercase;
                font-size: 15px;
            }

        }
    }
}



.page-id-8 {
    .entry-title {
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .woocommerce-MyAccount-navigation {
        width: 100%;
        margin-bottom: 50px;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                padding: 10px 20px;

                a {
                    text-decoration: none;
                    color: #f1192e !important;
                }
            }

            .is-active {
                background-color: #f1192e;

                a {
                    color: #fff !important;
                }
            }

        }
    }

    .woocommerce-MyAccount-content {
        width: 100%;
    }
}

.hidden-field {
    display: none;
}

.woocommerce-button.button.view,
.woocommerce-button.button.cancel {
    background-color: #f1192e;
    color: #fff !important;
    text-decoration: none;
    padding: 5px 15px;
}

.woocommerce-orders-table__cell-order-actions {
    text-align: center;

    a:first-child {
        margin-right: 7px;
    }

    a:last-child {
        margin-left: 7px;
    }
}

.woocommerce-orders-table__header-order-actions {
    text-align: center;
}

.product_type_simple.add_to_cart_button{
    display: none !important;
}

.date-time-form {
    position: relative;
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 12px;

    .line {
        border-right: 1px solid #e0e0e0;
    }

    .form-item {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        gap: 8px;
        cursor: pointer;

        label {
            font-size: 1rem;
            font-weight: 500;
            color: #333;
            cursor: pointer;
        }

        .wrap-date-time {
            display: flex;
            justify-content: space-between;
            color: #000;
            font-weight: 600;
        }
    }
}

.dropdown-form {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    padding: 12px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 12px;

    label {
        font-size: .875rem;
        font-weight: 500;
        color: #333;
    }

    .wrap-form {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span.value {
            font-weight: 600;
            color: #000;
        }
    }
}

.woocommerce-checkout-review-order-table {
    display: none;
}

.input-radio-box{
    display: flex;
    flex-direction: column;
    .input-radio-box-col{
        width: 100% !important;
        display: flex;
        margin-top: 10px;
    }
}

.col-total-price-information{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    border-top: 2px solid #e0e0e0;
    justify-content: space-between;
    align-items: center;
    span{
        font-weight: bold;
        color:#f1192e;
    }
}


.flatpickr-month {
    display: flex;
    width: 100%;
    padding-top: 10px;

    .flatpickr-prev-month {
        width: 15px;
    }

    .flatpickr-next-month {
        width: 15px;
    }

    .slideLeft {
        display: none;
    }

    .slideRight {
        display: none;
    }
}

@media(max-width: 1024px) {
    .products-row {
        flex-wrap: wrap;
        margin-bottom: 50px;

        .product-item-col {
            width: 50%;
        }

        .center-product-col {
            width: 100%;
        }

        .product-item-col:nth-child(2) {
            border-right: 0;
        }
    }
}

@media(max-width: 768px) {
    .products-row {
        flex-wrap: wrap;
        margin-bottom: 50px;

        .product-item-col {
            width: 100%;
        }

    }
    
}
.summary-information{
    display: flex;
    flex-wrap: wrap;
    .label-summary-infor{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Popup container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

/* Popup content */
.popup-content {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 550px;
}

/* Close button */
#closePopup{
    width: 100%;
    background-color: #f43f5e;
    color:#fff;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px;
    font-size: 16px;
}

#openPopup{
    cursor: pointer;
}

.heading-custom-vanilla{
    font-weight: bolder;
    font-size: 18px;
}

.label-pickup-time-vanilla{
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 18px;
}

.calendar-box-custom .calendar-box #calendar{
    border-radius: 10px;    
}

.time-avail{
    margin-top: 10px;
    border-top: 1px solid #cbd5e1;
    padding-top: 10px;
    .time-avail__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin-bottom: 5px;
            font-size: 15px;
        }
    }
}

.input-radio-box-col{
    label{
        margin-left: 10px;
    }
}